/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Dosive', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*header*/

.container {
	width: 1000px;
	margin: auto;
	padding: 0.9375rem 2.5rem 2.5rem 2.5rem;
}

header nav {
	display: inline-block;
	z-index: 10;
    position: fixed;
    background-color: cornflowerblue;
    top: 0;
}

header nav a {
	margin: 3.75rem;
	margin-left: 0;
	text-decoration: none;
	color: LightGray;
}

header nav a:last-child {
	margin: 0;
}

.logo-photo {
	display: inline-block;
	float: right;
	background-image: url("../img/logo.png");
	height: 2.5rem;
	width: 190px;
	background-repeat: no-repeat;
}

/* cta */

.cta {
	margin-top: 2.5rem;
	margin-left: 4.375rem;
	white-space: nowrap;
}

.cta-text {
	vertical-align: 8rem;
	width: 48%;
	margin: 1%;
	display: inline-block;
	text-align: center;
}

.cta-middle-image {
	display: inline-block;
	background-image: url("../img/header-img.png");
	height: 25rem;
	width: 48%;
	background-repeat: no-repeat;
	margin-top: 3.125rem;
	margin-right: 1%;
	margin-bottom: 3.125rem;
	margin-left: 1%;
}

h1 {
	font-size: 4.375rem;
    text-align: center;
}

.cta-text button {
	display: inline;
	margin: 0 auto;
	position: relative;
	height: 1.875rem;
    width: 8.125;
    background-color: white;
    border: 1px solid;
    color: black;
    font-family: inherit;
}

/* main content */

.main-content {

	display: inline-block; width: 100%;  
	border-top: 1px solid black;
}

.top-text{
	display: inline-block;
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}

.features {
	display: inline-block;
	width: 50%;
	float: left;
}

.about {
	display: inline-block;
	width: 50%;
	float: left;
}

.middle-background-image {
	background-image: url("../img/mid-page-accent.jpg");
	height: 11.25rem;
	background-repeat: no-repeat;
}

.middle-img {
	width: 920px;
}

/* bottom content */

.bottom-content {
	display: inline-block;
	margin-top: 2.5rem;
	width: 100%;
}

.bottom-text {
	display: inline-block;
	margin-bottom: 2.5rem;
}

.services {
	display: inline-block;
	width: 33%;
}

.product {
	display: inline-block;
	width: 33%;
}
.vision {
	display: inline-block;
	width: 33%;
}

/* contact */

.contact {
	border-top: 1px solid black;
	text-align: left;
	width: 100%
}

footer .contact h4 {
	margin-top: 2.5rem;
}

.copyright {
	text-align: center;
	font-family: arial;
	font-size: 0.75rem;
	margin-top: 2.5rem;
}